{
  "description": "Definition file to parse example A-01",
  "author": "Jonathan Racicot",
  "version": "1.0",
  "creation_date": "2017-10-10",
  "compatibility": [
    {
      "name": "manufacturer",
      "offset": 0,
      "size": 10,
      "type": "ascii",
      "compatible_with": [
        "ShallwCode",
        "DeepCode"
      ]
    },
    {
      "name": "version",
      "offset": 2,
      "size": 16,
      "type": "utf-16",
      "relative_to": "manufacturer",
      "compatible_with": [
        "1.08.100",
        "1.09.145",
        "1.10.748"
      ]
    }
  ],
  "parameters": [
    {
      "name": "TestParam1",
      "offset": 0,
      "relative_to": "version",
      "size": 4,
      "type": "I"
    },
    {
      "name": "TestParam2",
      "offset": 0,
      "size": 24,
      "relative_to": "TestParam1",
      "type": "utf-8",
      "value": 0
    }
  ]
}
